<section
  class="d-flex justify-content-center align-items-center text-center portfolio "
>

<div class="container ">
    <div class="portfolio-heading">
        <h2 class="text-uppercase fw-bold fs-1">PORTFOLIO COMPONENT</h2>
        <app-lines [customColor] ="dynamicColor"></app-lines>
    </div>
    <div class="row g-5 my-4">
        <div class="col-md-4">
          <div class="image">
            <img src="assets/imgs/port1.png" alt="image1" class="img-fluid rounded" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="assets/imgs/port2.png" alt="image2" class="img-fluid rounded" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="assets/imgs/port3.png" alt="image3" class="img-fluid rounded" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="assets/imgs/port1.png" alt="image1" class="img-fluid rounded" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="assets/imgs/port2.png" alt="image2" class="img-fluid rounded" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="image">
            <img src="assets/imgs/port3.png" alt="image3" class="img-fluid rounded" />
          </div>
        </div>
      </div>
</div>
</section>
