<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="isNavbarShrunk ? 'py-1' : 'py-4'">
    <div class="container">
      <a class="navbar-brand  text-uppercase text-white fw-bold fs-2" routerLink="/home">start framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase align-items-end">
          <li class="nav-item pe-2 me-sm-5 me-lg-2">
            <a class="nav-link  text-uppercase text-white fw-bold d-inline-block rounded px-1 " aria-current="page" routerLink="/about">About</a>
          </li>
          <li class="nav-item pe-2 me-sm-5 me-lg-2">
            <a class="nav-link  text-uppercase text-white fw-bold d-inline-block rounded px-1" aria-current="page" routerLink="/portfolio">portfolio</a>
          </li>
          <li class="nav-item pe-2 me-sm-5 me-lg-2">
            <a class="nav-link  text-uppercase text-white fw-bold d-inline-block rounded px-1" aria-current="page" routerLink="/contact">contact</a>
           
          </li>

        </ul>
      </div>
    </div>
  </nav>