.navbar {
    background-color: var(--sec-color);
    color: #fff;
    transition:padding 0.6s ;
}
.navbar-toggler {
background-color: var(--main-color);
color: #fff;
border: 0;
box-shadow: none;
}
.nav-link:hover {
background-color: var(--main-color);
}
.nav-link.active {
background-color: var(--main-color);
}